asttokens==2.4.1
certifi==2024.7.4
charset-normalizer==3.3.2
decorator==5.1.1
exceptiongroup==1.2.2
executing==2.1.0
idna==3.7
inflect==7.4.0
iniconfig==2.0.0
ipython==8.27.0
jedi==0.19.1
matplotlib-inline==0.1.7
more-itertools==10.5.0
packaging==24.1
parso==0.8.4
pexpect==4.9.0
pluggy==1.5.0
prompt_toolkit==3.0.47
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pytest==8.3.3
python-bitcointx==1.1.5
requests==2.32.3
six==1.16.0
SQLAlchemy==2.0.35
SQLAlchemy-Utils==0.41.2
stack-data==0.6.3
tomli==2.0.2
traitlets==5.14.3
typeguard==4.3.0
typing_extensions==4.12.2
urllib3==2.2.2
wcwidth==0.2.13
